Makefile
autom4te.cache
config.h
config.log
config.status
doc/Makefile
src/.deps
src/Makefile
src/gpxfilter
src/gpxfilter.o
src/gpxinfo
src/gpxinfo.o
src/gpxrewrite
src/gpxrewrite.o
src/ini_settings.o
src/mem_str.o
src/waypoint.o
stamp-h1
